# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Зависимости
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Сборка Next.js и Vercel
/.next/
/out/
/build
.vercel

# Локальные переменные окружения (секреты)
.env*.local
.env

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts

# Системные файлы
.DS_Store
*.pem
.vercel
